div.check{padding:10px;
    border:1px solid #000;
    margin-bottom:10px;
    background-color:#ffeed6;}
p{padding:10px;border:1px solid #000;
    background-color:#d6dfff;}
strong{padding:10px;border:1px solid #000;
    display:block;background-color:#d6ffdb;}
span{padding:10x;border:1px solid #000;
    display:block;background-color:#ffddd6;}
div.cc{padding:10x;border:1px solid #000;
    display:block;background-color:#FF007F;}
