<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.accountBook.dao.accountOwnerMapper">
	<insert id="insertId" parameterType="AccountOwner">
		insert into AccountOwner (
		id
		, pw
		) 
		values 
		(
		#{id}
		,#{pw}
		)
	</insert>
	<select id="selectId" parameterType="AccountOwner" resultType="string">
	select 
	id
	from accountOwner
	where id=#{id} and pw=#{pw}
	</select>
</mapper>
